.input {
    border: 1px solid black;
    word-wrap: break-word;
    max-width: 100%;
    padding: 3px 0px 3px 0px;
    cursor: text;
    vertical-align: middle;
    display: inline-block;
}

.input > input {
    min-width: 15%;
    max-width: inherit;
    width: auto;
    line-height: 250%;
    border: 0px;
    box-shadow: none;
    outline: none;
    display: inline;
    padding: 0px;
    margin: 0 6px;
}

.tag {
    line-height: 190%;
    white-space: nowrap;
    vertical-align: baseline;
    padding: 5px;
    background-color: rgb(13, 153, 158);
    color: white;
    margin-left: 5px;
    border-radius: 5px;
}

.closeTag {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    border-radius: 5px;
    background-color: rgb(21, 124, 128);
}

.closeTag:hover {
    cursor: pointer;
    background-color: rgb(24, 138, 142);
}


.suggestion, .currentSuggestion {
    width: auto;
}

.suggestion:hover, .currentSuggestion:hover {
    cursor: pointer;
}

.currentSuggestion {
    background-color: rgb(13, 153, 158);
    color: white;
}