@import '../../../styles/variables/colors';
@import '../../../styles/variables/spacings';
@import '../../../styles/variables/borders';



.questionLayout {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(13, 1fr);

    width: 100vw;
    height: 100vh;

    background-color: $color-bg-light-theme;


    .progressBarLayout {
        grid-area: 2 / 3 / 3 / 10;

        //width: calc(284.4 * $margin);
    }


    section {
        grid-area: 4 / 4 / 12 / 9;

        padding: calc(16 * $padding); 

        //width: calc(250 * $margin);

        background-color: lighten($color-secondary, 55%);

        border: $border-width-default-transparent-bg solid $color-input-border;
        border-radius: $border-radius-default;
        box-shadow: 15px 15px 15px darken($color-bg-light-theme, 10%);

        div {

            h3 {
                margin-top: 0px;
                display: block;
            }

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            height: 100%;
        }
    }
}