@import 'variables/typography', 'variables/colors', 'variables/borders', 'variables/spacings';


.link-default, .btn-default, .btn-cancel {
    display: flex;
    align-items: center;
    padding: $padding-btn;

    font-style: bold;

    img {
        margin-right: $margin-lg;
        width: calc(10 * $margin);
        height: calc(10 * $margin);
    }
}

.link-default {
    font-family: $text-font-body;
    font-size: $text-size-paragraph;
    color: $color-secondary;
    text-decoration: none;
}

.btn-default, .btn-cancel {
    font-family: $text-font-body;
    font-size: $text-size-highlight;
    border-radius: $border-radius-default;
    
    a {
        text-decoration: none;
        color: $color-text-dark-bg;
    }
}

.btn-default {
    border-width: $border-width-default;
    background-color: $color-secondary;
    color: $color-text-dark-bg;

    &:hover {
        cursor: pointer;
        filter: brightness(110%);
    }

    img {
        filter: brightness(0) invert(1)
    }
}

.btn-cancel {
    border-width: $border-width-default-transparent-bg;
    background-color: transparent;
    color: $color-text-light-bg;

    &:hover {
        cursor: pointer;
        filter: brightness(110%);
    }
}