@font-face {
    font-family: Consolas;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('/fonts/Consolas.ttf') format('truetype');
}

@font-face {
    font-family: FiraCode;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('/fonts/FiraCode-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: Nunito;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('/fonts/Nunito-Medium.ttf') format('truetype');
}