@import 'variables/typography', 'variables/colors', 'variables/borders', 'variables/spacings';

.form-default {
    display: flex;
    flex-direction: column;

    button {
        margin-top: $margin-lg;
    }

    div {

        & > div {
            color: $color-text-light-bg;
        }

        // TODO: Change bg colors order

        div:nth-child(3n) {
            background-color: $color-btn-one;
        }

        div:nth-child(3n - 1) {
            background-color: $color-btn-two;
        }

        div:nth-child(3n - 2) {
            background-color: $color-btn-three;
        }
    }
}

.input-default, .select-item {
    border-radius: $border-radius-default;
    border: $border-width-default-transparent-bg solid $color-input-border;
    padding: $padding-btn;
}


.input-default {
    font-family: $text-font-body;
    font-size: $text-size-highlight;
    filter: brightness(110%);
    color: $color-text-light-bg;
    outline: 0px;
}

.select-item {
    display: flex;
    align-items: center;
    border-style: solid;
    margin-bottom: $margin-md;
    background-color: #ffffff;

    input[type="checkbox"], input[type='radio'] {
        margin-right: $margin-lg;

        &:checked {
            accent-color: $color-accent-one;
            color: $color-text-dark-bg;
        }
    }


    &:hover {
        cursor: pointer;
        filter: invert(10%);
    }
}