@import 'variables/typography', 'variables/colors', 'variables/borders', 'variables/spacings';



.h1, .h2, .h3, .h4 {
    font-family: $text-font-headings;
}

.h1 {
    font-size: $text-size-h1;
    margin-bottom: $margin-bottom-h1;
}

.h2 {
    font-size: $text-size-h2;
    margin-bottom: $margin-bottom-h2;
}

.h3 {
    font-size: $text-size-h3;
    margin-bottom: $margin-bottom-h3;
}

.h4 {
    font-size: $text-size-h4;
    margin-bottom: $margin-bottom-h4;
}

.p {
    display: block;
    font-size: $text-size-paragraph;
    line-height: $text-line-height-default;
    margin-bottom: $margin-bottom-paragraph;
}