/**
* Color palette
*/
$color-primary: #191970;
//$color-secondary: #4169E1;
$color-secondary: #394f92;

$color-accent-one: #ffa500;
$color-accent-two: #4CBB17;
$color-accent-three: #A069CB;


/**
* Buttons
*/

$color-btn-one: lighten($color-accent-three, 25%);
$color-btn-two: lighten($color-accent-one, 35%);
$color-btn-three: lighten($color-accent-two, 40%);


/**
* Background
*/
//$color-bg-dark-theme: #0F0F46;
$color-bg-dark-theme: #080828;
$color-bg-light-theme: #fff0e5;

/**
* Text
*/
$color-text-dark-bg: #fff0e5;
$color-text-light-bg: #10162f;


/**
* Borders
*/
$color-input-border: #000000;


// TODO: Declare these variables.
/*
$color-text: $color-navy-800;
$color-text-accent: $color-navy-900;
$color-text-disabled: $color-navy-500;
$color-text-secondary: $color-navy-600;
$color-feedback-error: $color-red-600;
$color-feedback-success: $color-green-700;
$color-feedback-warning: $color-yellow;
$color-background: $color-white;
$color-background-contrast: $color-white;
$color-background-current: $color-white;
$color-background-primary: $color-beige;
$color-background-selected: $color-navy-100;
$color-background-disabled: $color-navy-200;
$color-background-hover: $color-navy-200;
$color-shadow-opaque: $color-shadow-white-heavy;
$color-shadow-solid: $color-gray-200;
$color-primary: $color-hyper-500;
$color-primary-hover: $color-hyper-400;
$color-primary-inverse: $color-yellow-500;
$color-secondary: $color-navy-800;
$color-secondary-hover: $color-navy-700;
$color-danger: $color-red-500;
$color-danger-hover: $color-red-600;
$color-interface: $color-hyper-500;
$color-interface-hover: $color-hyper-400;
*/