@import '../fonts';


:root {
    font-size: 16px;
}

/**
* Family
*/
// TODO: declare this variable: 'text-logo-font'.
$text-font-headings: FiraCode, sans-serif; 
$text-font-body: Nunito, sans-serif;
$text-font-code: Consolas, sans-serif;

/**
* Size
*/
$text-size-h1: 5rem;
$text-size-h2: 3rem;
$text-size-h3: 2.5rem;
$text-size-h4: 2rem;

$text-size-paragraph: 1rem;
$text-size-highlight: 1.2rem;
$text-size-button: 1rem;

/**
* Line height
*/
$text-line-height-default: 1rem;
$text-line-height-highlight: 1.2rem;


@media screen and (max-width: 500px) {
    :root {
        font-size: 14px;
    }

    $text-line-height-default: 1.2px;
    $text-line-height-highlight: 2px;
}